<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>com.packtpub.rest.ch6.service.AppConfig</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.packtpub.rest.ch6.service.AppConfig</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>HRServiceConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected resource</web-resource-name>
            <description/>
            <url-pattern>/webresources/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>APIUser Authentication</description>
            <role-name>APIUser</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>APIUser</role-name>
    </security-role>
</web-app>
